<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="itext" version="8.0.1" />
  <package id="itext.bouncy-castle-adapter" version="8.0.1" />
  <package id="itext.bouncy-castle-fips-adapter" version="8.0.1" />
  <package id="itext.commons" version="8.0.1" />
  <package id="itext7" version="8.0.1" />
  <package id="itext7.bouncy-castle-adapter" version="8.0.1" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="1.1.0" />
  <package id="Microsoft.Extensions.DependencyInjection" version="5.0.0" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="5.0.0" />
  <package id="Microsoft.Extensions.DependencyModel" version="1.1.0" />
  <package id="Microsoft.Extensions.Logging" version="5.0.0" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="5.0.0" />
  <package id="Microsoft.Extensions.Options" version="5.0.0" />
  <package id="Microsoft.Extensions.Primitives" version="5.0.0" />
  <package id="Newtonsoft.Json" version="13.0.1" />
  <package id="Portable.BouncyCastle" version="1.8.10" />
  <package id="System.Diagnostics.DiagnosticSource" version="5.0.0" />
  <package id="System.Reflection.TypeExtensions" version="4.1.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" />
  <package id="System.Runtime.Loader" version="4.3.0" />
  <package id="System.Text.Encoding.CodePages" version="4.3.0" />
</packages>